<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0t-Q3Yby0PsnHPm1q-GVCYogxUod_avA</string>
	<key>GCM_SENDER_ID</key>
	<string>1050353663667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kuiz</string>
	<key>PROJECT_ID</key>
	<string>kuiz-52388</string>
	<key>STORAGE_BUCKET</key>
	<string>kuiz-52388.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050353663667:ios:a44d864277db5b2a74fac6</string>
</dict>
</plist>